version: "3.9"

services:
  financial-risk-app:
    container_name: financial-risk-app
    build: .
    restart: always

    ports:
      - "8501:8501"

    env_file:
      - .env

    volumes:
      - .:/app
